.homepage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 48px;
  font-family: 'Voltaire', sans-serif;
}
.titleRed{
color: red;
}
.titleGrey{
  color: rgb(121, 114, 114);
}

.homepage_logo {
  width: 200px;
}
.buttonPlay{
  width: 20vh;
  height: 5vh;
  background-color: rgb(195, 42, 15);
  border-radius: 5vh;
  color: aliceblue;
}

.Explication{
  font-size: 20px;
}